<B_aside>
<ul class="unstyled clearfix nav nav-aside txtright">
<BOUCLE_aside(ARTICLES){id_rubrique = -1}{par rang}{!par date}>
    <li class="valign-m inbl[(#COMPTEUR_BOUCLE|=={1}|oui) mrs]"><a href="#URL_ARTICLE" class="h1-like">#TITRE</a></li>
</BOUCLE_aside>
<INCLURE{fond=inclure/rezosocio} />
</ul>
</B_aside>
