#SET{col1,""}
#SET{col2,""}

<BOUCLE_images(DOCUMENTS){id_article}{media IN image,video}{par rang_lien, num titre, titre}>

    #SET{url,#URL_DOCUMENT}

    [(#MEDIA|=={image}|oui)
        #SET{image,#URL_DOCUMENT}
    ]

    [(#MEDIA|=={video}|oui)
        #SET{image,#LOGO_DOCUMENT}
        [(#EXTENSION|=={html}|non)
            [(#SET{url,#URL_PAGE{box-video}
                |parametre_url{id_document,#ID_DOCUMENT}
            })]
        ]
    ]

    [(#SET{image,
        [<a class="mediabox[(#MEDIA|=={video}|oui|et{#EXTENSION|=={html}|non}) boxIframe[ boxWidth-(#LARGEUR|plus{2})px][ boxHeight-(#HAUTEUR|plus{34})px]] " rel="serie-#ID_ARTICLE" href="#GET{url}">(#GET{image}|image_responsive{160/320/480/640/960/1440})</a>]
    })]

    [(#ENV{composition}|=={portfolio-2col}|?{


        [(#COMPTEUR_BOUCLE|modulo{2}|=={1}|oui)
            [(#SET{col1,#GET{col1}|concat{'',#GET{image}}})]
        ]

        [(#COMPTEUR_BOUCLE|modulo{2}|=={0}|oui)
            [(#SET{col2,#GET{col2}|concat{'',#GET{image}}})]
        ]

        ,

        [<li>(#GET{image})</li>]

    })]


</BOUCLE_images>

[(#ENV{composition}|=={portfolio-2col}|oui)

    [<li>(#GET{col1})</li>]
    [<li>(#GET{col2})</li>]

]

</B_images>
