<BOUCLE_principale(ARTICLES){id_article}>

        <div class="col-4">
            <ul class="unstyled grid-1 has-gutter-l">
                <INCLURE{fond=inclure/article-media,env}/>
            </ul>
        </div>
        <div class="col-4">
            <h2>#TITRE</h2>
            #TEXTE
        </div>
</BOUCLE_principale>
