[<link rel="preload" href="(#CHEMIN{fonts/Rokkitt-Regular.woff2})" as="font" type="font/woff2" crossorigin>]
[<link rel="preload" href="(#CHEMIN{fonts/Rokkitt-Light.woff2})" as="font" type="font/woff2" crossorigin>]
[<link rel="preload" href="(#CHEMIN{fonts/Rokkitt-Bold.woff2})" as="font" type="font/woff2" crossorigin>]
<style>

    @font-face {
      font-family: 'Rokkitt';
      src: url('#CHEMIN{fonts/Rokkitt-Regular.eot}');
      src: url('#CHEMIN{fonts/Rokkitt-Regular.eot?#iefix}') format('embedded-opentype'),
          url('#CHEMIN{fonts/Rokkitt-Regular.woff2}') format('woff2'),
          url('#CHEMIN{fonts/Rokkitt-Regular.woff}') format('woff'),
           url('#CHEMIN{fonts/Rokkitt-Regular.ttf}') format('truetype'),
           url('#CHEMIN{fonts/Rokkitt-Regular.svg#Rokkitt}') format('svg');
           font-weight: 400;
           font-style: normal;
           font-display:block;
    }

    @font-face {
      font-family: 'Rokkitt';
      src: url('#CHEMIN{fonts/Rokkitt-Light.eot}');
      src: url('#CHEMIN{fonts/Rokkitt-Light.eot?#iefix}') format('embedded-opentype'),
          url('#CHEMIN{fonts/Rokkitt-Light.woff2}') format('woff2'),
          url('#CHEMIN{fonts/Rokkitt-Light.woff}') format('woff'),
           url('#CHEMIN{fonts/Rokkitt-Light.ttf}') format('truetype'),
           url('#CHEMIN{fonts/Rokkitt-Light.svg#Rokkitt-Light}') format('svg');
           font-weight: 200;
           font-style: normal;
           font-display: block;
    }

    @font-face {
        font-family: 'Rokkitt';
        src: url('#CHEMIN{fonts/Rokkitt-Bold.eot}');
        src: url('#CHEMIN{fonts/Rokkitt-Bold.eot?#iefix}') format('embedded-opentype'),
            url('#CHEMIN{fonts/Rokkitt-Bold.woff2}') format('woff2'),
            url('#CHEMIN{fonts/Rokkitt-Bold.woff}') format('woff'),
             url('#CHEMIN{fonts/Rokkitt-Bold.ttf}') format('truetype'),
             url('#CHEMIN{fonts/Rokkitt-Bold.svg#Rokkitt-Bold}') format('svg');
             font-weight: 600;
             font-style: normal;
             font-display: block;
    }
</style>
<script>
    jQuery(document).ready(function($){
    	$('a[rel*=external]').click(function(e) {
    		e.preventDefault();
    		window.open(this.href);
    	});
    });
</script>
