<BOUCLE_principale(ARTICLES){id_article}>
<div class="container">
    <div class="grid-12 has-gutter-l">

        <div class="col-4">
            <INCLURE{fond=header/#ENV{type-page},env}>
        </div>

        <div class="col-4 mt12">
            #FORMULAIRE_ECRIRE_AUTEUR
        </div>

        <div class="col-4 pt12 pos-r">
            <INCLURE{fond=aside/#ENV{type-page},env}>
        </div>

    </div>
</div>
</BOUCLE_principale>
