<BOUCLE_principale(ARTICLES){id_article}>
<div class="container">
    <div class="grid-12 has-gutter-l">

        <div class="col-2">
            <INCLURE{fond=header/#ENV{type-page},env}>
        </div>

        <div class="col-6 mt12">
            <ul class="unstyled grid-1 has-gutter-l">
                <INCLURE{fond=inclure/article-media,env}/>
            </ul>
        </div>

        <div class="col-4 pt12 pos-r">
            <h2>#TITRE</h2>
            #TEXTE
            <INCLURE{fond=aside/#ENV{type-page},env}>
        </div>

    </div>
</div>
</BOUCLE_principale>
