<BOUCLE_principale(ARTICLES){id_article}>
<div class="container dist">
    <div class="grid-12 has-gutter-l">

        <div class="col-2">
            <INCLURE{fond=header/#ENV{type-page},env}>
        </div>

        <div class="col-2 mt24 ml-10">
            <INCLURE{fond=nav/articles,id_rubrique,env}>
        </div>

        <div class="col-4 mt12">
            <ul class="unstyled grid-1 has-gutter-l">
                <INCLURE{fond=inclure/article-media,env}/>
            </ul>
        </div>

        <div class="col-4 pt12 pos-r">
            <div class="texte">
                <h2>#TITRE</h2>
                #TEXTE
            </div>
            <INCLURE{fond=aside/#ENV{type-page},env}>
        </div>

    </div>
</div>
</BOUCLE_principale>
