<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:microedition:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok" role="status">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur" role="alert">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}
		<div class="editer-groupe">
			<div class="editer [ (#GET{erreurs}|oui)erreur]">
				[<span class='erreur_message'>(#GET{erreurs})</span>]
				<!-- <div class="choix"> -->
				<ul>
					<li class="marger-bas-1">
						<label for='microedition_rubrique'>
						<:microedition:cfg_label_rubrique:>
						</label>
						<input type="text" size="3" name="rubrique" class="text" value="#ENV{rubrique}" id="microedition_rubrique" />
						<p class="explication"><:microedition:cfg_rubrique_explication:></p>
					</li>

					<li>
						<label>
						<:microedition:cfg_label_rezo:>
						</label>


						<ul class="choix">


							<li class="marger-bas-1">
								<label for='microedition_rezo_instagram'>
								<:microedition:cfg_label_rezo_instagram:>
								</label>
								<input type="text" name="rezo_instagram" class="text" value="#ENV{rezo_instagram}" id="microedition_rezo_instagram" />
								<p class="explication"><:microedition:cfg_rezo_explication:></p>
							</li>

							<li class="marger-bas-1">
								<label for='microedition_rezo_twitter'>
								<:microedition:cfg_label_rezo_twitter:>
								</label>
								<input type="text" name="rezo_twitter" class="text" value="#ENV{rezo_twitter}" id="microedition_rezo_twitter" />
								<p class="explication"><:microedition:cfg_rezo_explication:></p>
							</li>

							<li class="marger-bas-1">
								<label for='microedition_rezo_facebook'>
								<:microedition:cfg_label_rezo_facebook:>
								</label>
								<input type="text" name="rezo_facebook" class="text" value="#ENV{rezo_facebook}" id="microedition_rezo_facebook" />
								<p class="explication"><:microedition:cfg_rezo_explication:></p>
							</li>

							</ul>

					</li>
				</ul>
				<!-- </div> -->
			</div>

		</div>

		<input type="hidden" name="_meta_casier" value="microedition" />
		<p class="boutons">
			<span class="image_loading">&nbsp;</span>
			<input type="submit" class="submit" value="<:bouton_enregistrer:>" />
		</p>	</div>
	</form>
</div>
