

<B_nav_rubriques>
<ul class="nav unstyled">
    <BOUCLE_nav_rubriques(RUBRIQUES){racine}{par sinum titre, num titre, titre}{tout}>
    #SET{sousmenu,non}

    [(#COMPOSITION|=={portfolio}|et{#EXPOSE}|oui)
        #SET{sousmenu,oui}
    ]
    [(#COMPOSITION|=={portfolio-2col}|et{#EXPOSE}|oui)
        #SET{sousmenu,oui}
    ]

    <li><a [class="(#EXPOSE)" ]href="#URL_RUBRIQUE">#TITRE</a>

        <B_nav_articles>
        [(#TOTAL_BOUCLE|>{1}|oui)<ul>]
        <BOUCLE_nav_articles(ARTICLES){si #GET{sousmenu}|=={oui}|oui}{id_rubrique}{par rang}{!par date}>
            [(#TOTAL_BOUCLE|>{1}|oui)<li><a[ class="(#EXPOSE)"][ href="(#URL_ARTICLE)"]>#TITRE</a></li>]
        </BOUCLE_nav_articles>
        [(#TOTAL_BOUCLE|>{1}|oui)</ul>]
        </B_nav_articles>

    </li>
    </BOUCLE_nav_rubriques>
</ul>
</B_nav_rubriques>
